USE [master]
GO
/****** Object:  Database [Customer–Order]    Script Date: 22-01-2026 14:48:39 ******/
CREATE DATABASE [Customer–Order]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Customer–Order', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Customer–Order.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Customer–Order_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Customer–Order_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Customer–Order].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Customer–Order]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22-01-2026 14:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22-01-2026 14:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 22-01-2026 14:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MyPractice]
--Optional or Parameter
-- @City varchar(50) -- This is Parameter so we can pass any City name in this
@id int
as
Begin
--use[Customer–Order] -- this will ensure this quesry will run only on [Customer–Order] database
Select * from [dbo].[Customers] where CustomerId=@id --City=@City
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerByNameAndCity]    Script Date: 22-01-2026 14:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetCustomerByNameAndCity] 
	@name varchar(100),
	@city varchar(50)
AS
BEGIN
SELECT * FROM Customers WHERE FullName = @name AND City = @city
END

GO
USE [master]
GO
