USE [master]
GO
/****** Object:  Database [LearningDB]    Script Date: 22-01-2026 14:45:56 ******/
CREATE DATABASE [LearningDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LearningDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LearningDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LearningDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\LearningDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LearningDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LearningDB]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[AccountNo] [int] NOT NULL,
	[AccountHolderName] [varchar](50) NOT NULL,
	[Balance] [decimal](12, 2) NOT NULL,
	[AccountType] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpId] [int] NOT NULL,
	[EmpName] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[BasicSalary] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddEmployee]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddEmployee]
	@EmpId int,
	@EmpName varchar(50),
	@Department varchar(50),
	@BasicSalary decimal(9,2),
	@IsActive BIT
As
Begin
INSERT INTO Employees(EmpId, EmpName, Department, BasicSalary, IsActive)
VALUES (@EmpId, @EmpName, @Department, @BasicSalary, @IsActive);
END
GO
/****** Object:  StoredProcedure [dbo].[DepositAmount]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------
-- STEP 5: PROCEDURE - DEPOSIT AMOUNT
---------------------------------------------------------------
CREATE   PROCEDURE [dbo].[DepositAmount]
    @AccountNo     INT,
    @DepositAmount DECIMAL(12,2)
AS
BEGIN
    UPDATE dbo.BankAccount
    SET Balance = Balance + @DepositAmount
    WHERE AccountNo = @AccountNo
      AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAccountDetails]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------
-- STEP 4: PROCEDURE - GET ACCOUNT DETAILS
---------------------------------------------------------------
CREATE   PROCEDURE [dbo].[GetAccountDetails]
    @AccountNo INT
AS
BEGIN
    SELECT *
    FROM dbo.BankAccount
    WHERE AccountNo = @AccountNo;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllEmployees]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllEmployees]

AS
BEGIN
	SELECT * FROM Employees
END
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeCountByDepartment]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployeeCountByDepartment]
	@Department varchar(50),
	@EmpCount INT OUTPUT
As
Begin
SELECT @EmpCount = COUNT(*)
	FROM Employees
	WHERE Department = @Department
END
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeesByDepartment]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployeesByDepartment]
	@Department varchar(50)
As
Begin
SELECT * FROM Employees WHERE Department = @Department
End
GO
/****** Object:  StoredProcedure [dbo].[WithdrawAmount]    Script Date: 22-01-2026 14:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------
-- STEP 6: PROCEDURE - WITHDRAW AMOUNT (WITH VALIDATION)
---------------------------------------------------------------
CREATE   PROCEDURE [dbo].[WithdrawAmount]
    @AccountNo      INT,
    @WithdrawAmount DECIMAL(12,2)
AS
BEGIN
    -- Withdraw only if sufficient balance and active account
    UPDATE dbo.BankAccount
    SET Balance = Balance - @WithdrawAmount
    WHERE AccountNo = @AccountNo
      AND IsActive = 1
      AND Balance >= @WithdrawAmount;
END;
GO
USE [master]
GO
